[submodule "src/external/snmalloc"]
	path = src/external/snmalloc
	url = https://github.com/microsoft/snmalloc.git
[submodule "src/external/verona-rt-scofield"]
	path = src/external/verona-rt-scofield
	url = https://github.com/Scofield626/verona-rt
[submodule "src/external/SPSCQueue"]
	path = src/external/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue.git
